{{ template "base.html" .}}
{{ define "title" }} Add group {{ end }}

{{ define "content" }}
{{ with .Data }}
<form method="post" action="/group/">
    <label for="sport">Sport</label>
    <input type="text" name="sport" id="sport" value="{{ .Sport }}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{ .Name }}">
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10">{{ .Description }}</textarea>
    <label for="street">Street</label>
    <input type="text" name="street" id="street" value="{{ .Street }}">
    <div class="grid">
        <label for="city">City</label><input type="text" name="city" id="city" value="{{ .City }}">
        <label for="country">Country</label><input type="text" name="country" id="country" value="{{ .Country }}">
    </div>
    <span class="grid">
        <button type="submit" value="save" class="primary">Save</button>
        <button type="submit" value="delete" class="secondary" data-target="delete-modal"
            onClick="toggleModal(event)">Delete</button>
    </span>
    <!-- Modal -->
    <dialog id="delete-modal">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="delete-modal" onClick="toggleModal(event)">
            </a>
            <h3>Confirm your action!</h3>
            <p>Do you really want to delete this group ?</p>
            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="delete-modal"
                    onClick="toggleModal(event)">
                    Cancel
                </a>
                <a href="/group/{{.UUID}}/delete/" role="button" data-target="delete-modal" onClick="redirect(event)">
                    Confirm
                </a>
            </footer>
        </article>
    </dialog>

</form>


{{ end }}
{{ end }}