<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" .}} Sportdropin {{end}}</title>
    {{ template "styles" .}}
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/"> <strong>SPORTDROPINS</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <form class="grid" hx-get="/" hx-trigger="click" hx-target="#container">
                    <span class="grid">
                        <input type="text" name="search" id="search" placeholder="Search">
                        <button type="submit" >Search</button>
                    </span>
                </form>

        </ul>
    </nav>
    <main class="container" id="container">
        {{ block "content" .}} {{ end}}
    </main>
    {{ template "scripts" .}}
</body>

</html>
