{{ if .IsHXRequest }}
    {{ template "content" . }}
{{ else }}
    {{ template "base.html" .}}
{{ end }}

{{ define "title" }} Groups {{ end }}

{{ define "content" }}
<div id="groups" hx-get="/" hx-trigger="groupChange from:body" hx-target="this">
    {{ range .data.Data }}
    <article>
        <hgroup>
            <h4>
                {{ $url := print "/group/" .UUID }}
                <a href="{{ $url }}" hx-get="{{ $url }}" hx-target="#groups" hx-swap="beforeend">{{ .Name }}</a>
            </h4>
            <small><em>{{ .Street }}, {{ .City }}, {{ .Country }}</em></small>
            <hr />
        </hgroup>
        <p>{{ .Description }}</p>

    </article>
    {{ else }}
    <p>No group found</p>
    {{ end }}
    <a href="/group/" hx-get="/group" hx-target="#groups" hx-swap="beforeend" role="button">Add a group</a>
</div>
{{ end }}
